.home-container {
  text-align: center;
  border-radius: 20px;
}

.header {
  padding: 60px 20px;
  color: white;
  margin-bottom: 40px;
}

.header-title {
  font-size: 4rem;
  margin-bottom: 10px;
}

.header-subtitle {
  font-size: 1.5rem;
}

.options-container {
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
  flex-wrap: wrap;
}

.option-card {
  background: white;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin: 20px;
  width: 300px;
  transform: scale(0.95);
  transition: transform 0.3s ease;
}

.option-card:hover {
  transform: scale(1.2);
}

.option-card h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.option-card p {
  font-size: 1.1rem;
  color: #555;
}

.core-subjects {
  background: linear-gradient(120deg, #ff8a65, #ffcc80);
}

.resume-builder {
  background: linear-gradient(120deg, #4db6ac, #b2dfdb);
}

.practice {
  background: linear-gradient(120deg, #ba68c8, #ce93d8);
}
